@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family: var(--font-serif);
  background-color: #F2EAD3;
  color: #3C2A21;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
